.container {
    display: inline-flex;
    flex-wrap: wrap;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0 inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    padding: 1rem;
}

.lorem-ipsum {
    padding: 1rem;
    max-width: fit-content;
}
