const nameVar = "<%= name %>_2";
const projVar = "<%= project %>";
const strContent = "<%= text %>";
export const Lorem_<%= name %>_2 = ()=>(<div>{projVar}-{nameVar}-{strContent}</div>);

export default Lorem_<%= name %>_2;
