const nameVar = "<%= name %>_0";
const projVar = "<%= project %>";
const strContent = `<%= text %>`;
export const Lorem_<%= name %>_0 = ()=>(<div>{projVar}-{nameVar} <var>{strContent}</var></div>);

export default Lorem_<%= name %>_0;
